
<div class="container-fluid">

  <div class="row" id="primerTitulo">
    <div class="col-12 col-md-6" style="margin-right: 20px;">
        <h3>Series tv  <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2021/09/29/16329138152949.jpg" alt="" style="width:30px; height:30px;"></h3>
    </div>
  </div>

  <div class="row">
  <div class="col-12 col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of series">
          <td>
            <dd (click)="onSelected(s)">{{s.id}} </dd>
          </td>
          <td>
            <dd id="TituloPelicula" (click)="onSelected(s)">{{s.name}}</dd>
          </td>
          <td>
            <dd>{{s.channel}}</dd>
          </td>
          <td>
            <dd>{{s.seasons}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
    <p id="average"></p>
  </div>

  <div class="col-12 col-md-6">
    <div *ngIf="selected">
      <app-serieDetail [serieDet]="selectedSerie"></app-serieDetail>
    </div>
</div>


<link rel="stylesheet" href="serie.component.css">


